* {
  margin: 0;
  color: white;
}

body {
  overflow-x: hidden;
}

main {
  margin-right: 5rem;
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.video-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.gradientBlockBlackTop {
  background: linear-gradient(#00000000, #000000);
  height: 500px;
}
.gradientBlockBlackBottom {
  background: linear-gradient(#000000, #00000000);
  height: 500px;
}
.containerBgBlack {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: black;
  margin-top: -1px;
  margin-bottom: -1px;
  height: 80vh;
}
.centeredContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}

.extendParrent {
  width: 200%;
  margin-left: -50%;
}

.ourSpacesContainer {
  border-top: rgb(185, 185, 185) 1px solid;
  margin-right: 50px;
  margin-left: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  border: white 1px solid;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.5s ease;
}

.peopleCard {
  background-size: cover;
  height: 50vw;
  margin-bottom: 2rem;
}

.card:hover {
  filter: saturate(3);
  transform: scale(1.05);
  transition: all 0.5s ease;
}

.cardCenter {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
}

.heroH1text {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vvBtn {
  background-color: #ffc40000;
  color: rgb(255, 255, 255);
  border: white 1px solid;
  border-radius: 50px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 10rem;
  cursor: pointer;
}

@media screen and (min-width: 821px) {
  h1 {
    font-size: 7rem;
  }
  h2 {
    font-size: 5rem;
  }
  .LogoImage {
    margin: 2rem;
    height: 4rem;
  }
  .cardWrapper {
    column-count: 2;
  }
}
@media screen and (max-width: 1000px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  .LogoImage {
    margin: 2rem;
    height: 4rem;
  }
  .cardWrapper {
    margin-bottom: 100px;
    column-count: 1;
  }
}
